<ul class='accordion w-full rounded-lg shadow-lg shadow-gray-100 p-2 mb-2'>
  <li id='showOptionPermissionBtn' class='my-1'>
    <span class='font-bold text-xl tracking-tight text-gray-500 flex flex-row justify-between items-center cursor-pointer p-2'>
      <p>必須ではない権限の一覧</p>
      <svg class='text-gray-500 mr-1'xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-down-short' viewBox='0 0 16 16'>
        <path fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd'></path></svg>
    </span>
    <div id='notRequiredPermissionList' class='text-gray-500 text-md p-2 cursor-default'>
    </div>
  </li>
</ul>
