[submodule "authApi/xdevkit"]
	path = authApi/xdevkit
	url = https://github.com/autoaim-jp/xdevkit.git
[submodule "staticWeb/xdevkit"]
	path = staticWeb/xdevkit
	url = https://github.com/autoaim-jp/xdevkit.git
