<div id='permissionCheckTemplate' class='hidden form-group form-check mb-4 p-1 rounded-md'>
  <input id='permissionCheckTemplateInput' type='checkbox' class='form-check-input h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer'>
  <label id='permissionCheckTemplateInputLabel' for='permissionCheckTemplateInput' class='form-check-label inline-block text-gray-800'></label>
</div>

