apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    orgId: 1
    access: proxy 
    url: https://metrics.source.example.com
    isDefault: true
    editable: true
    withCredentials: true
    basicAuth: true
    basicAuthUser: basicauthuser
    basicAuthPassword: basicauthpass

